# Python
backend/venv/
venv/
__pycache__/
*.pyc

# Node
frontend/node_modules/
node_modules/

# Env
.env
.env.*

# Logs
*.log

# OS / editor
.vscode/
.idea/
.DS_Store
Thumbs.db

# Databases
*.db
*.sqlite
*.sqlite3

# Build output
dist/
build/
frontend/.vite/